@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,800;1,400;1,600&display=swap');

:root {
  --primary-color: #cecece;
  --secondary-color: #b6b6b6;
  --text-color: #111111;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
}

a, li, uil {
  text-decoration: none;
}